<div class="text-layout">
  <h1>Basics Pipes</h1>
  <p>Pipes included in Angular - Usually in the common Mudule</p>
</div>

<div class="p-grid">
  <div class="p-col-4">
    <p-card header="Uppercase" [subheader]="nameLower | uppercase">
      {{ nameLower | uppercase }}
    </p-card>
  </div>

  <div class="p-col-4">
    <p-card header="Lowercase" [subheader]="nameUpper | lowercase">
      {{ nameLower | lowercase }}
    </p-card>
  </div>

  <div class="p-col-4">
    <p-card header="Titlecase" [subheader]="nameComplete | titlecase">
      {{ nameLower | titlecase }}
    </p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Date Pipes</h1>
  <p>Pipe showing dates</p>
</div>

<div class="p-grid">
  <div class="p-col-6">
    <p-card>
      <ul>
        <li>date</li>
        <li>date | date</li>
        <li>date | date:'short'</li>
        <li>date | date:'long'</li>
        <li>date | date:'MMM'</li>
        <li>date | date:'MMMM dd, YYYY'</li>
      </ul>

      <hr>

      <ul>
        <li>   date | date:'long':'GMT-6' </li>
        <li>   date | date:'long':'GMT-4' </li>
        <li>   date | date:'long':'GMT-4':'en' </li>

      </ul>
    </p-card>
  </div>

  <div class="p-col-6">
    <p-card>
      <ul>
        <li>
          {{ date }}
        </li>

        <li>
          {{ date | date }}
        </li>

        <li>
          {{ date | date:'short' }}
        </li>

        <li>
          {{ date | date:'long' }}
        </li>

        <li>
          {{ date | date:'MMM' }}
        </li>
        <li>
            {{ date | date:'MMMM dd, YYYY' }}
          </li>
      </ul>

      <hr>

      <ul>
          <li>  {{ date | date:'long':'GMT-6' }}</li>
          <li>  {{ date | date:'long':'GMT-4' }}</li>
          <li>  {{ date | date:'long':'GMT-4':'en' }}</li>
      </ul>
    </p-card>
  </div>
</div>
