<div class="text-layout">
  <h1>Decimal and Percentage Pipes</h1>
  <p>Pipes included in Angular - Usually in the common Mudule</p>
</div>

<div class="p-grid">
  <div class="p-col-4">
    <p-card header="Total Sales" subheader="Present Year">
      <i class="pi pi-dollar"></i>
      {{ totalSales | number: "1.2-4" }}
    </p-card>
  </div>

  <div class="p-col-4">
    <p-card header="Gross sales" subheader="Present Year">
      {{ totalSales | currency: "USD":"symbol-narrow":"1.0-2" }}
    </p-card>
  </div>

  <div class="p-col-4">
    <p-card header="Percentage Gain" subheader="Present Year">
      {{ percentage | percent:'1.1-2' }}
    </p-card>
  </div>
</div>
