<div class="text-layout">
  <h1>Not commons Pipes</h1>
  <p>Pipes included in Angular - Usually in the common Mudule</p>
</div>

<div class="p-grid">
  <div class="p-col p-md-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>
        Hola {{ name }}, es un placer {{ gender | i18nSelect: inviteMap }} a
        nuestro evento.
      </p>
      <button
        pButton
        type="button"
        label="Change Name"
        class="p-button-outlined p-button-help"
        (click)="changeClient()"
      ></button>
    </p-fieldset>
  </div>

  <div class="p-col p-md-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>Actualmente {{ clients.length | i18nPlural: clientsMapping }}.</p>
      <button
        pButton
        type="button"
        label="Delete Client"
        class="p-button-outlined p-button-warning"
        (click)="deleteClient()"
      ></button>
      <button
        pButton
        type="button"
        label="Add Client"
        class="p-button-outlined p-button-primary"
        (click)="addClient()"
      ></button>  
    </p-fieldset>
  </div>

  <div class="p-col p-md-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true"> 
    </p-fieldset>
  </div>
</div>
